<a href="https://colab.research.google.com/github/ksnivedya48-arch/ict-assigments/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def find_max_builtin(a, b, c):
  return max(a, b, c)
print(find_max_builtin(10, 5, 20))

20

In [2]:
def sum_list_builtin(numbers):
  return sum(numbers)

my_list = [18, 12, 30, 10, 7]
total = sum_list_builtin(my_list)
print(f"The sum of {my_list} is: {total}")

The sum of [18, 12, 30, 10, 7] is: 77

In [3]:
my_list = [10, 20, 40, 50]
print(f"Original List: {my_list}")
number_to_insert = int(input("Enter the number you want to insert: "))
position = int(input(f"Enter the position (0-{len(my_list)}) to insert the number: "))
my_list.insert(position, number_to_insert)
print(f"Updated List: {my_list}")

Original List: [10, 20, 40, 50]
Enter the number you want to insert: 90
Enter the position (0-4) to insert the number: 3
Updated List: [10, 20, 40, 90, 50]

In [5]:
sample_dict = {
 'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 500}}
sample_dict['emp3']['salary'] = 8500
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

In [6]:
tuple1 = (11, 22, 33, 44, 55, 66)
tuple2 = tuple1[3:5]
print(f"Original tuple: {tuple1}")
print(f"New tuple with elements 44 and 55: {tuple2}")

Original tuple: (11, 22, 33, 44, 55, 66)
New tuple with elements 44 and 55: (44, 55)

In [8]:
tuple1 = (50, 10, 60, 70, 50, 83, 567, 50, 81)
count = tuple1.count(50)
print(count)

3